.UploadContainer{
    margin-top: 200px;
}

.Account{
    margin-top: 325px;
}

@media (max-width: 430px) {
    .UploadContainer{
        margin-top: 0px;
    }

    .Account{
        margin-top: 0px;
    }

    .DescriptionContainer{
        margin-top: 16px;
    }


}